<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <h2 data-bind="html: welcomeMsg()">User Profile</h2>
        </div>
</div>
<div class="row animated fadeInRightBig">
    <div class="col-lg-4">
        <div class="wrapper wrapper-content">
            <div class="widget-head-color-box navy-bg p-lg text-center cont-fixed-heigth">
                  <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                              Alex Smith
                    </h2>
                    <small>Founder of Groupeq</small>
                  </div>
                      <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                      <div>
                          <span>Email: cristian.toledo@oracle.com</span> </br>
                          <span>Phone: 123123123</span> </br>
                          <span>Paypal Conf: cristiantoledo@gmail.com</span> </br>
                          <span>Suffix Price: $</span>
                      </div>
            </div>
            <div class="widget-text-box">
                    <div class="text-center">
                          <button class="btn btn-primary btn-circle btn-lg btn-outline" data-toggle="tooltip" data-placement="bottom" title="Edit User" type="button">
                            <i class="fa fa-pencil-square-o"></i>
                          </button>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="wrapper wrapper-content">
            <div class="widget-head-color-box navy-bg p-lg text-center cont-fixed-heigth">
                  <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                              Root Categories
                    </h2>
                  </div>
                  <div class="row al-list-container">
                          <div class="widget style1 yellow-bg col-xs-11">
                               <i class="fa fa-th-large" /> Category 1
                          </div>
                          <div class="widget style1 yellow-bg col-xs-11">
                               <i class="fa fa-th-large" /> Category 2
                          </div>
                          <div class="widget style1 yellow-bg col-xs-11">
                               <i class="fa fa-th-large" /> Category 3
                          </div>
                          <div class="widget style1 yellow-bg col-xs-11">
                               <i class="fa fa-th-large" /> Category 4
                          </div>
                </div>
            </div>
            <div class="widget-text-box">
                    <div class="text-center">
                          <button class="btn btn-primary btn-circle btn-lg btn-outline" data-toggle="tooltip" data-placement="bottom" title="Edit User" type="button">
                            <i class="fa fa-pencil-square-o"></i>
                          </button>
                    </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="wrapper wrapper-content">
            <div class="widget-head-color-box navy-bg p-lg text-center cont-fixed-heigth">
                  <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                              Products
                    </h2>
                  </div>
                  <div class="row al-list-container">
                          <div class="widget style1 blue-bg col-xs-5">
                               <i class="fa fa-th-large" /> Product 1
                          </div>
                          <div class="widget style1 blue-bg col-xs-5">
                               <i class="fa fa-th-large" /> Product 2
                          </div>
                          <div class="widget style1 blue-bg col-xs-5">
                               <i class="fa fa-th-large" /> Product 3
                          </div>
                          <div class="widget style1 blue-bg col-xs-5">
                               <i class="fa fa-th-large" /> Product 4
                          </div>
                          <div class="widget style1 blue-bg col-xs-5">
                               <i class="fa fa-th-large" /> Product 5
                          </div>

                </div>
            </div>
            <div class="widget-text-box">
                    <div class="text-center">
                          <button class="btn btn-primary btn-circle btn-lg btn-outline" data-toggle="tooltip" data-placement="bottom" title="Edit Products" type="button">
                            <i class="fa fa-pencil-square-o"></i>
                          </button>
                    </div>
            </div>
        </div>
    </div>
  </div>
